h1 {
    border: 4px solid salmon;
    padding: 6px;
}

#dailytotalstable {
    border: 2px dashed salmon;
}

#dailytotalstable th {
    border: 2px solid black;
}

#dailytotalstable td {
    border: 2px solid lightblue;
}

img {
    padding: 50px;
    border: 4px solid lightblue;
    border-radius: 50% 50% 50% 50%;
}

/* 

Play around with border radius

How to style first column?
How to style every other row?

Check out CSS tricks 

*/