h1 {
    border: 4px solid salmon;
    padding: 6px;
}

#dailytotalstable {
    border: 2px dashed salmon;
}

#dailytotalstable th {
    border: 2px solid black;
}

#dailytotalstable td {
    border: 2px solid lightblue;
}

img {
    padding: 50px;
    border: 4px solid lightblue;
    border-radius: 50% 50% 50% 50%;
}

/*
ELEMENTS USED
body
header
nav
img
h1
ul
li
a
main
section
h2
p
button
footer
h3
*/

/*
Play around with border radius

text-align: 
margin-left: auto // For non-block elements
margin-right: auto

How to style first column?
How to style every other row?

Idea: create class for .invalidInput to style alert response to bad input
    <variable name>.classList.add(<classname e.g. invalidInput>);

Check out CSS Tricks 

*/